<div>
    <h2>Available Players</h2>
    <div class="card">
        <div class="card-body">
            <div class="scrollable-table">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Height</th>
                            <th>Nationality</th>
                            <th>Weight</th>
                            <th>Amount</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        {{#each flattenedPlayerData}}
                        <tr>
                            <td>{{this.player.name}}</td>
                            <td>{{this.player.height}}</td>
                            <td>{{this.player.nationality}}</td>
                            <td>{{this.player.weight}}</td>
                            <td>{{this.player.amount}}</td>
                            <td><button type="button" class="btn btn-primary"
                                    onclick="addPlayer('{{this.player.name}}','{{this.player.height}}','{{this.player.nationality}}','{{this.player.weight}}','{{this.player.amount}}')">Add</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal for Player Restriction -->
    <div class="modal" id="errorModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error</h5>
                </div>
                <div class="modal-body" id="modalMessage"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>