<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football Players</title>
    <link rel="stylesheet" href="css/ownedPlayers.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="js/ownedPlayers.js"></script>

</head>
<body>

    <h2>{{latestUsername}}'s Players</h2>
    
    <!-- Add "Create Player" button above the table -->
    <button type="button" onclick="openCreatePlayerModal()" class="btn btn-primary" style="float: right; margin-top: 10px;margin-bottom: 10px; margin-right: 10px;">Create Player</button>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Height</th>
                <th>Nationality</th>
                <th>Weight</th>
                <th>Position</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            {{#each userPlayers}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{height}}</td>
                    <td>{{nationality}}</td>
                    <td>{{weight}}</td>
                    <td>{{position}}</td>
                    <td><button type="button" onclick="deleteTask('{{this._id}}')" class="btn btn-danger">Delete</button></td>
                </tr>
            {{/each}}
        </tbody>
    </table>

    <!-- Modal for creating a new player -->
    <div class="modal fade" id="createPlayerModal" tabindex="-1" role="dialog" aria-labelledby="createPlayerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createPlayerModalLabel">Create Player</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form fields for creating a new player -->
                    <form id="createPlayerForm">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" required>
                        </div>
                        <div class="form-group">
                            <label for="position">Position</label>
                            <input type="text" class="form-control" id="position" required>
                        </div>
                        <div class="form-group">
                            <label for="height">Height</label>
                            <input type="text" class="form-control" id="height" required>
                        </div>
                        <div class="form-group">
                            <label for="nationality">Nationality</label>
                            <input type="text" class="form-control" id="nationality" required>
                        </div>
                        <div class="form-group">
                            <label for="weight">Weight</label>
                            <input type="text" class="form-control" id="weight" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
