<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football Players</title>
    <link rel="stylesheet" href="css/ownedPlayers.css">

</head>
<body>

    <h2>{{latestUsername}}'s Players</h2>
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Height</th>
                <th>Nationality</th>
                <th>Weight</th>
                <th>Position</th>
                <th>action</th>

            </tr>
        </thead>
        <tbody>
            {{#each userPlayers}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{height}}</td>
                    <td>{{nationality}}</td>
                    <td>{{weight}}</td>
                    <td>{{position}}</td>
                    <td><button type="button" onclick="deleteTask('{{this._id}}')" class="btn btn-danger">Delete</button></td>
                </tr>
            {{/each}}
        </tbody>
    </table>

</body>
</html>
